<!DOCTYPE HTML>
<html>

<head>
  <title>User Dashboard</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="charts/fusioncharts.js"></script>
  <script type="text/javascript" src="charts/themes/fusioncharts.theme.zune.js?cacheBust=56"></script>
  <script type="text/javascript" src="charts/fusioncharts.jqueryplugin.js"></script>

  <link rel="stylesheet" type="text/css" href="css_dashboard/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css_dashboard/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css_dashboard/bootstrap-datetimepicker.css">
  <link rel="stylesheet" type="text/css" href="css_dashboard/main.css">


  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/moment-with-locales.js"></script>
  <script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>

</head>

<body>
  {{> topHeader}}
  <div class="container-fluid">
    <div class="row content">
      {{> sideBar}}
      <br>

      <div class="col-sm-9 col-md-9 col-lg-10" id="contemt-main">

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="dashboard">
            <h1>Expense Overview</h1>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <div class="row">
              <div class='col-sm-12 form-inline datetimepickerwrapper'>
                <div class="form-group">
                  <label>From</label>
                  <div class='input-group date' id='datetimepicker6'>

                    <input type='text' class="form-control" value="01/06/2022" data-provide="datepicker" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>

                  </div>
                </div>
                <form action="/" method="post">
                  <!-- drop down -->
                  <div class="form-group">
                    <label for="sel1">Select filter</label>
                    <select name="tag" class="form-control" id="sel1">
                      <option>Food</option>
                      <option>Transport</option>
                      <option>Entertainment</option>
                      <option>Salary</option>
                      <option>Investment</option>
                      <option>Others</option>
                    </select>
                    <dropdown></dropdown>
                    <button type="submit">Filter</button>
                </form>
                <div class="form-group">
                  <label>To</label>
                  <div class='input-group date' id='datetimepicker7'>

                    <input type='text' class="form-control" value="1/12/2022" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="well">
              <h4>Expenses</h4>
              <p><span id="expense-chart-container">Your chart will render here</span></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="well">
              <p><span id="expense-bar-container">Your chart will render here</span></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="container">
              <div class="table">

                <div class="table-header">
                  <div class="header__item"><a id="date" class="filter__link">Date</a></div>
                  <div class="header__item"><a id="type" class="filter__link"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" style="margin-right:5px;" fill="currentColor" class="bi bi-filter"
                        viewBox="0 0 16 16">
                        <path
                          d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                      </svg>Type</a></div>
                  <div class="header__item"><a id="amt" class="filter__link">Amount in Rs.</a></div>
                  <div class="header__item">Remarks</div>
                  <div class="header__item"></div>
                </div>

                <div class="table-content" id="table-fill">
                  {{#each expenses as |expense|}}
                  <div class="table-row">
                    <div class="table-data">{{expense.date}}</div>
                    <div class="table-data">{{expense.tag.name}}</div>
                    <div class="table-data">{{expense.amount}}</div>
                    <div class="table-data">{{expense.remarks}}</div>
                    <div class="table-data"><button type="button" data-toggle="modal"
                        data-target="#editModal-{{expense.id}}" style="margin-top: -2%;">
                        Edit
                      </button>
                    </div>
                  </div>
                  <!-- Modal -->

                  <div class="modal fade" id="editModal-{{expense.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="modalTitle-{{expense.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modalTitle-{{expense.id}}">Edit expense</h4>

                        </div>
                        <div class="modal-body" style="margin: 0 auto;float: none;">
                          <form role="form" id="form-{{expense.id}}">
                            <div class="form-group">
                              <div class="input-group" id="profileEdits">
                                <div class='input-group date' id='datetimepicker8'>
                                  <input type='text' class="form-control" value="{{expense.date}}" ></input>
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                                </div>
                                <br>
                                <p></p>

                                <label>Type</label>
                                <select name="tagId" class="form-control">
                                  {{#each ../tags as |tag|}}
                                  <option value="{{tag.id}}" {{#equals expense.tagId tag.id}} selected {{/equals}}>
                                    {{tag.name}}</option>
                                  {{/each}}
                                </select>
                                <br>
                                <p></p>

                                <label>Amount in Rs.</label>
                                <input name="amount" type="text" class="form-control editField"
                                  value="{{expense.amount}}">
                                <br>
                                <p></p>

                                <label>Remarks</label>
                                <input name="remarks" type="text" class="form-control editField"
                                  value="{{expense.remarks}}">
                                <br>
                                <p></p>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button form="form-{{expense.id}}" formaction="/expense/delete/{{expense.id}}"
                            formmethod="post" type="submit" id="delet">Delete</button>
                          <button form="form-{{expense.id}}" formaction="/expense/update/{{expense.id}}"
                            formmethod="post" type="submit" id="editBtn">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="js/dashboard.js"></script>
<script>
  var expenses = {{{ json expenses }}};
  var tags = {{{ json tags }}};
  $(document).ready(function () {
    var userName, val;
    userName = $('#nameOfUser').text().split(" ");
    var images = document.getElementsByClassName("profileImage");

    if (!(typeof userName === 'string' && userName instanceof String)) {
      val = userName[0].charAt(0) + userName[1].charAt(0);
      for (i = 0; i < images.length; i += 1)
        images[i].textContent = val;
    }
    else
      for (i = 0; i < images.length; i += 1)
        images.item(i).textContent = userName.charAt(0);
  });
</script>

</html>